.logo {
  display: block;
  min-width: 70px;
  height: 38px;

  color: #ffffff;

  cursor: pointer;

  @media (max-width: $vp-1023) {
    min-width: 38px;
    height: 20px;
  }

  &:not([href]) {
    pointer-events: none;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.7;
  }

  &[href]:active {
    opacity: 0.4;
  }
}

.logo svg {
  display: block;
  width: 100%;
  height: 100%;

  fill: currentColor;
}
