.navigation-menu {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-767) {
    flex-direction: column;
  }
}

.navigation-menu__item {
  margin-left: 34px;

  @media (max-width: $vp-1023) {
    margin-left: 24px;
  }
}

.navigation-menu__link {
  font-weight: 500;
  color: #f9fbfd;
  text-decoration: none;

  @media (max-width: $vp-1023) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    font-size: 18px;
    line-height: 22px;
  }

  &:hover,
  &:focus {
    text-decoration: 2px;

    outline: none;

    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 6px;
  }

  &:active {
    opacity: 0.5;
  }
}
