.social {
  display: grid;
  gap: 25px;
  grid-template-columns: auto auto auto;
  align-self: baseline;

  @media (max-width: $vp-1023) {
    gap: 22px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}

.social__item {
  @media (max-width: $vp-767) {
    margin-right: 19px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #f9fbfd;

  @media (max-width: $vp-1023) {
    width: 16px;
    height: 16px;
  }
}

.social__link svg {
  width: 100%;
  height: 100%;
  fill: #ffffff;

  &:hover,
  &:focus {
    fill: #aad4fa;
  }
}
