*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  min-width: 320px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #011c40;

  grid-template-rows: auto 1fr auto;

  @media (max-width: $vp-768) {
    font-size: 14px;
    line-height: 17px;
  }
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}
